<br>
<div id="wrapper">
    <!-- Page Content -->
        <div class="container-fluid">
            <div class="row">
                   <%= render partial: "form" %>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

