<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Categorias</h3>
        <%= link_to new_backoffice_category_path, class:"btn btn-success btn-circle pull-right", style: "margin-top: -45px" do %>
        	<i class="fa fa-plus "></i>
        <%end%>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Descrição</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                	<% @categories.each do |cat| %>
                        <tr>
                           <td><%= cat.id%></td>
                           <td><%= cat.description %> </td>
                           <td style="width: 150px">
                           		<%= link_to edit_backoffice_category_path(cat), class:"btn btn-primary btn-circle" do %>
                               			<i class="fa fa-search-plus "></i>
   							   	<% end %>
   							   <button type="button" class="btn btn-danger btn-circle" disabled="disabled"><i class="fa fa-trash-o "></i>
   							   </button>
							</td>
                    </tr>
                     <%end%>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

